/* Place your CSS for the exam in this file */

body {
	margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman";
	font-style: none;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

p {
	font-family: "Helvetica Neue", "Helvetica";
	font-size: 13px;
}

.single-manager-div {
	display: block;

}

.container {
	width: 600px;
	margin-left: 50px;
	margin-right: auto;
}

.single-manager-image {
	float: left;
	width: 20%;
	margin-top: 20px;
}

.single-manager-info {
	float: right;
	width: 80%;
}

.single-manager-info h2 {
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: 0px;

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#modal {
    position:absolute;
    background: white;
    padding:8px;
    top: 50%;
    left: 50%;
    width: 700px;

    margin-top: -300px;
    margin-left: -350px
}

#content {
    background:#fff;
}

#close {
	float: right;
}

