/* Place your CSS for the exam in this file */

@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

body {
	margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', serif;
	font-style: none;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

p {
	font-family: "Helvetica Neue", "Helvetica";
	font-size: 13px;
}

span {
	padding-left: 3px;
	padding-right: 3px;
}

form p {
  position: relative;
  color: #767676;
}
label {
	text-align: right;
	color: #767676;
  position: absolute;
  width: 100px;
  left: 0;
  top: Xpx /* x to align nicely with the baseline of the text in the input */
}
input {
	border: 1px solid #888;
	vertical-align: top;
	padding-left: 5px;
  margin-left: 120px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
  color: #767676;
  height: 20px;
  box-shadow: none;
}

a {
	color: blue;
	text-decoration: none;
	font-family: "Helvetica Neue";
	font-size: 12px;
}

a:hover {
	cursor: pointer;
}

.single-manager-div {
	display: block;

}

.container {
	width: 600px;
	margin-left: 50px;
	margin-right: auto;
}

.single-manager-image {
	float: left;
	width: 20%;
	margin-top: 20px;
}

.single-manager-info {
	float: right;
	width: 80%;
}

.single-manager-info h2 {
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: 0px;

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#modal {
    position:absolute;
    background: white;
    top: 50%;
    left: 50%;
    width: 700px;
    background: #f5f5f5;
    margin-top: -300px;
    margin-left: -350px;	
    border-color: #ddd;
    border-style: solid double;
}

#modal header {
	background: #f5f5f5;
}

#modal h1 {
	padding-left: 20px;
}

#modal h2 {
	padding-right: 10px;
	font-size: 18px;
}

#content {
    background:#fff;
    margin: 0;
}

#close {
	float: right;
}

#content section {
	padding-left: 20px;
	padding-right: 20px;
}

.edit p {
	padding-bottom: 20px;
	margin-bottom: 0px;
}

.edit-or-x {
	float: right;
	padding-right: 10px;
	padding-top: 15px;
	cursor: pointer;
	width: 10px;
	height: auto;
	opacity: 0.8;
}

#edit-button {
	width: 10px;
	height: auto;
}

#bio {
	width: 70%;
	height: 100px;
}

.submit-button {
	background-color: #83a200;
	color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 0 30px rgba(0,0,0,0.05),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 1px rgba(0,0,0,0.2);
	width: 80px;
	height: 30px;
	font-size: 12px;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.submit-button:hover {
	background-color: #789500;
	cursor: pointer;
}

.cancel {
	background-color: #ddd;
}

.cancel:hover {
	background-color: #eee;
}

.plus {
  width: 20px;
  height: 20px;
  background: url("../images/icons/color/icon-sprites.png") -40px -40px;
  float: left;
  margin-right: 0px;
  margin-left: 120px;
}
.minus {
  width: 20px;
  height: 20px;
  background: url("../images/icons/color/icon-sprites.png") -40px -60px;
  float: left;
  margin-right: 0px;
  margin-left: 120px;
}

.countdown {
	font-style: italic;
	color: gray;
	margin-left: 120px;
}
