/* Declare the Icon Font Family */

@font-face {
	font-family: 'icomoon';
	src:url('formats/icomoon.eot');
	src:url('formats/icomoon.eot?#iefix') format('embedded-opentype'),
		url('formats/icomoon.woff') format('woff'),
		url('formats/icomoon.ttf') format('truetype'),
		url('formats/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Classes for icon fonts */

.icon-monochrome-close:before,
.icon-monochrome-pencil:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-monochrome-close:before {content: "\35"} /* This is the "X" icon for closing a modal */
.icon-monochrome-pencil:before {content: "\24"} /* This is the pencil icon */
