[class^="icon-color-"], 
[class*=" icon-color-"] {
  display: inline-block;
  width:        20px;
  height:       20px;
  line-height:  20px;
  margin-right: 2px;
  vertical-align: text-top;
  background-image: url('icon-sprites.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-color-add      { background-position: -40px -40px }  /* Green plus sign */
.icon-color-remove   { background-position: -40px -60px }  /* Red minus sign */
